@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}


.searchTerm {
  width: 30%;
  border: 3px solid #801515;
  margin:10px;
 
  padding: 15px;
  height: 25px;
  border-radius: 5px 0 5px 0px;
  outline: none;
  color: #9DBFAF;
}

